page-home {
  .no-workout-label {
    color: darkgrey;
    font-weight: bold;
    text-align: center;
  }
  .event-sub-detail{
    color: darkgrey;
    font-size:80%;
  }
}

.newBG {
    background:#4C6E6E !important;
}

img {
    border: 5px solid #365454;
    width:70%;
    margin-top: 3em
}
.floatingButton{
  font-size: 3.4rem !important;
  font-weight: bold;
}
