page-input-work-out {
  .done-button {
    color : blue;
  }
  .itemList{
    height:60px;
  }
  .itemListWhole{
    margin: -1px 0 10px;
  }
  .addbutton{
    font-size: 1.6rem;
  }
  .workoutTitle{
        padding: 0 60px 1px;
  }
}
